.page-footer {
  display: flex;
  justify-content: space-between;
  gap: 160px;
  padding: 40px 100px;
  background: $bcg-speakers;
  border-top: 2px solid $basic-white;

  .main-nav {
    margin-left: 0;
    margin-bottom: 40px;
    padding-left: 0;
    opacity: 0.5;
  }

  .btn {
    padding: 20px 135px;
    font-family: "Philosopher", "Arial", sans-serif;
    color: $basic-white;
    font-size: 16px;
    background: transparent;
    border: 1px solid $basic-white;
    border-radius: unset;
  }

  p {
    max-width: 225px;
    margin-bottom: 30px;
    color: $basic-white
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 30px;
    padding: 30px 4px;

    .main-nav {
      position: relative;
      display: flex;
      min-height: unset;
      margin-bottom: 0;
      padding: 0;
      background: transparent;
    }

    .main-nav__list {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      margin-bottom: 36px;
    }

    .main-nav__item {
      margin-bottom: 0;
    }

    .btn {
      padding: 20px;
      width: 100%;
    }

    .page-header__img {
      margin-left: 0;
    }
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {

  }
}

