.page-header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 2px solid $basic-black;

  @media (max-width: $tablet-width) {
    height: 82px;
  }
}

.page-header__img {
  margin-left: 20px;
}

.page-header__empty {
  width: 170px;
  border-right: 2px solid $basic-black;

  @media (max-width: $tablet-width) {
    width: 15px;
  }
}

.page-header__empty-top {
  height: 80px;
  border-bottom: 2px solid $basic-black;
}

.page-header__empty-bottom {
  margin-top: 160px;
  font-family:"Philosopher", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  transform: rotate(-90deg) translate(-180px);

  @media (max-width: $tablet-width) {
    &>span {
      display: none;
    }
  }
}

.page-header__content {
  flex-grow: 1;
}
