.promo {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 20px;
  padding-top: 75px;
  padding-right: 125px;

  &--bottom {
    padding-left: 190px;
    background: $bcg-speakers;

    .promo__heading,
    .promo__star {
      color: $basic-white;
    }

    .promo__icon {
      fill: $basic-white;
    }

    .promo__sub-heading {
      font-family: "Philosopher", "Arial", sans-serif;

    }

    .promo__about {
      font-family: "Piedra", "Arial", sans-serif;
      text-transform: unset;
    }

    .form__checkbox-label>a {
      font-family: "Montserrat", "Arial", sans-serif;
      font-size: 10px;
    }


  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 0;
    padding: 0;

    &--bottom {
      .promo__wrapper--form {
        padding-top: 30px;
      }
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;

  &--video {
    max-width: 480px;
  }

  @media (max-width: $tablet-width) {
    &--video {
      padding: 24px 12px;
    }

    &--form {
      margin-left: -14px;
      padding: 15px 21px;
      background: $main-color;
    }
  }
}

.promo__heading {
  max-width: 600px;
  margin-bottom: 52px;
  font-size: 48px;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    font-size: 32px;
  }
}


.promo__sub-heading {
  margin-bottom: 15px;
  color: $basic-white;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $tablet-width) {
    padding-right: 100px;
  }
}

.promo__about {
  margin-bottom: 30px;
  max-width: 310px;
  color: $basic-white;
  font-family: "Montserrat", "Arial", sans-serif;
  text-transform: uppercase;
}

.promo__video {
  position: relative;
  width: 70%;
  height: auto;
  margin-bottom: 24px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(69, 69, 69, 0.25);

  iframe {
    border-radius: 20px;
  }

  button {
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -35px;
    padding: 0;
    width: 71px;
    height: 100%;
    background: $bcg-header;
    border-radius: 22px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(69, 69, 69, 0.25);

    svg {
      padding: 10px;
      fill: $main-color;
      border-radius: 50%;
      border: 1px solid $main-color;
    }

    &:hover {
      svg {
        scale: 1.1;
      }
    }
  }

  @media (max-width: $tablet-width) {
    width: 90%;
  }
}

.promo__icon {
  margin-left: 20px;
  min-height: 21px;
  margin-bottom: 24px;
}

.promo__star {
  max-width: 225px;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.5;
}
