/* Fonts */

// Montserrat
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"),
    url("../fonts/montserrat/Montserrat-Regular400.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Regular400.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Regular400.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"),
    url("../fonts/montserrat/Montserrat-Medium500.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Medium500.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Medium500.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"),
    url("../fonts/montserrat/Montserrat-Bold700.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Bold700.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Bold700.ttf") format("truetype");
}

// Philosopher
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Philosopher Regular"),
    url("../fonts/philosopher/Philosopher-Regular.woff2") format("woff2"),
    url("../fonts/philosopher/Philosopher-Regular.woff") format("woff"),
    url("../fonts/philosopher/Philosopher-Regular.ttf") format("truetype");
}

// Piedra
@font-face {
  font-family: "Piedra";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Piedra Regular"),
    url("../fonts/piedra/Piedra-Regular.woff2") format("woff2"),
    url("../fonts/piedra/Piedra-Regular.woff") format("woff"),
    url("../fonts/piedra/Piedra-Regular.ttf") format("truetype");
}
